<h2>Video recorder</h2>
<button ng-click="startRecording()">Start</button>
<button ng-click="stopRecording()">Stop</button>

<div ng-if="app.raspivid_loaded">
	<div ng-repeat="(key, value) in app.raspivid">
		<div ng-switch="value.type">
			<div ng-switch-when="Number">
				<div type-number="" type-name="key" type-data="value" global-config="app.config"></div>
			</div>
			<div ng-switch-when="Checkbox">
				<div type-checkbox="" type-name="key" type-data="value" global-config="app.config"></div>
			</div>
			<div ng-switch-when="Select">
				<div type-select="" type-name="key" type-data="value" global-config="app.config"></div>
			</div>
			<div ng-switch-when="Preview">
				<div type-preview="" type-name="key" type-data="value" global-config="app.config"></div>
			</div>
		</div>
	</div>

	<select ng-model="app.selected_preset">
		<option ng-repeat="preset in app.presets" ng-value="preset">{{getPresetName(preset)}}</option>
	</select>
	selected: {{app.selected_preset}}
	<button type="button" ng-click="loadPreset(app.selected_preset)"></button>

	<input type="text" ng-model="app.preset.name" placeholder="Video preset name..."> <button type="button" ng-disabled="app.preset.saved">Save video preset</button>
</div>

<button type="button" ng-click="changeRoute('index')">« APP INDEX PAGE</button>