<!doctype html>
<html lang="en" ng-app="dronApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DroneBoard</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-socket-io/socket.min.js"></script>
	<script src="view.js"></script>
</head>
<body ng-controller="dronCtrl">
	<h1>Hello Dron</h1>
	<h2>{{dron|json}}</h2>
</body>
</html>